@model EveryBook.Models.Book

@{
    ViewData["Title"] = "Details";
}
<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">@Model.Name - Details</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
                <a class="nav-link" asp-action="Index">Back to List</a>
            </div>
        </div>
    </div>
</nav>
<hr />
<img src="@Model.PictureUrl" width="350" height="300" align="right">


<div class="col-md-6">
    <table class="table table-hover">
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Author</td>
                <td>@Model.Author</td>
                <td class="table"></td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Genre</td>
                <td>@Model.Genre.Name</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Price</td>
                <td>@Model.Price$</td>
            </tr>
            <tr>
                <th scope="row">4</th>
                <td>Available Quantity</td>
                <td>@Model.AvailableQuantity</td>
            </tr>
            <tr>
                <th scope="row">5</th>
                <td>Description</td>
                <td>@Model.Description</td>
            </tr>
        </tbody>
    </table>
</div>
