@model EveryBook.Models.Book
@using Microsoft.AspNetCore.Identity

@inject SignInManager<ExtendUser> SignInManager
@inject UserManager<ExtendUser> UserManager

@{
    ViewData["Title"] = "Details";
}
<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">@Model.Name - Details</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
                <a class="nav-link" asp-action="Index">Back to List</a>
            </div>
        </div>
    </div>
</nav>
<hr />
@if (!SignInManager.IsSignedIn(User))
{ 
    <div>
        <h1 class="text-danger">You must be signed in to add book to shopping cart</h1>
    </div>
}

<img src="@Model.PictureUrl" width="350" height="300" align="right">


<div class="col-md-6">
    <table class="table table-hover">
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Author</td>
                <td>@Model.Author</td>
                <td class="table"></td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Genre</td>
                <td>@Model.Genre.Name</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Price</td>
                <td>@Model.Price$</td>
            </tr>
            <tr>
                <th scope="row">4</th>
                <td>Available Quantity</td>
                <td>@Model.AvailableQuantity</td>
            </tr>
        </tbody>
    </table>
</div>

<!------------------Need to edit href path!!!!!!!!--------------->
@if (SignInManager.IsSignedIn(User))
{
    <div>
        <a class="text-center btn btn-primary btn-lg" href="/Bugs/Create" role="button">Add to shopping cart</a>
    </div>
}
else
{
    <div>
        <a class="text-center btn btn-primary btn-lg disabled" href="/Bugs/Create" role="button">Add to shopping cart</a>
    </div>
}

<div>
    <h3 class="text-center"> Description </h3>
    @Model.Description
</div>
