@model IEnumerable<EveryBook.Models.Book>

@{
    ViewData["Title"] = "Index";
}

<h1>Books List</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

@foreach (var item in Model)
{
    <div class="md-col-4">
        <div class="card text-center" width="200" height="240">
            <img src=@item.PictureUrl width="60" height="60">
            <div class="card-body text-sm-center">
                <h4 class="card-title">@item.Name</h4>
                <h6 class="card-title">@item.Author</h6>
                <h6 class="card-title">@item.Genre.Name</h6>
                <p class="card-text">@item.Description</p>
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">Details</a>
            </div>
        </div>
    </div>
}

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Author)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AvailableQuantity)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Genre)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>


            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Author)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AvailableQuantity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Genre.Name)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
