@using Microsoft.AspNetCore.Identity
@model IEnumerable<EveryBook.Models.ExtendUser>
@inject UserManager<ExtendUser> UserManager

@{
    ViewData["Title"] = "Index";
}

<h1>Users list</h1>
<hr />

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Role</th>
            <th scope="col" style="text-align:center;">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Email</td>
                @if (UserManager.IsInRoleAsync(UserManager.FindByEmailAsync(item.Email).Result, "Admin").Result)
                {
                    <td>Admin</td>
                }
                else
                {
                    <td>User</td>
                }
                <td style="text-align:center;">
                    @if (UserManager.IsInRoleAsync(UserManager.FindByEmailAsync(item.Email).Result, "Admin").Result)
                    {
                        <div class="row">
                            <form asp-action="ChangeRole" asp-route-id="@item.Id" method="post">
                                <input type="hidden" name="Id" value="@item.Id" />
                                <input type="submit" class="btn btn-outline-warning" style="padding: 1px 10px;margin-right: 5px;" value="Demote To User" />
                            </form>
                            <form id="delete-type-@item.Id" method="post" asp-action="Delete">
                                <input type="hidden" value="@item.Id" />
                                <a class="btn btn-danger" style="padding: 1px 10px;" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                            </form>
                        </div>
                    }
                    else
                    {
                        <div class="row">
                            <form asp-action="ChangeRole" asp-route-id="@item.Id" method="post">
                                <input type="hidden" name="Id" value="@item.Id" />
                                <input type="submit" class="btn btn-outline-success" style="padding: 1px 10px; margin-right: 5px;s" value="Promote To Admin" />
                            </form>
                            <form id="delete-type-@item.Id" method="post" asp-action="Delete">
                                <input type="hidden" value="@item.Id" />
                                <a class="btn btn-danger" style="padding: 1px 10px;" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                            </form>
                        </div>
                    }
                </td>
            </tr>

        }
    </tbody>
</table>
