@model IEnumerable<EveryBook.Models.DistributionUnit>

@{
    ViewData["Title"] = "Index";
}

<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">All Distribution Unit</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">

            <div class="navbar-nav">
                <a class="btn btn-outline-primary"  asp-action="Create">Create New</a>
            </div>
        </div>
    </div>
</nav>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Location</th>
            <th scope="col" style="text-align:center;">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            @if (!(item.IsDeleted))
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Location.Address</td>
                    <th scope="row">
                        <form style="text-align: center;">
                            <a class="btn btn-primary" style="padding: 1px 10px;" asp-action="Edit" asp-route-id="@item.Id"> Edit </a>
                            <a class="btn btn-secondary" style="padding: 1px 10px;" asp-action="Details" asp-route-id="@item.Id"> Details </a>
                            <a class="btn btn-danger" style="padding: 1px 10px;" asp-action="Delete" asp-route-id="@item.Id"> Delete </a>
                        </form>
                    </th>
                    <td style="text-align:center;">
                    </td>
                </tr>
             }
         }
        </tbody>
</table>