@model EveryBook.Models.Order

@{
    ViewData["Title"] = "Details";
}

<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Order- Details</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" asp-action="Index">Back to List</a>
            </div>
        </div>
    </div>
</nav>

<div class="col-md-6">
    <table class="table table-hover">
        <tbody>
            <tr>
                <td>Name</td>
                <td>@Model.ExtendUser.Name</td>
                <td class="table"></td>
            </tr>
            <tr>
                <td>PurchaseTime</td>
                <td>@Model.PurchaseTime</td>
            </tr>
            <tr>
                <td>Email</td>
                <td>@Model.ExtendUser.Email</td>
            </tr>
            <tr>
                <td>Pick up location</td>
                <td>@Model.DistributionUnit.Name</td>
            </tr>
        </tbody>
    </table>
</div>

<h4>Products in this order</h4>
<div class="container">
    <div class="row row-cols-3">
        @foreach (var item in Model.Books)
        {
                <div class="col">
                    <div class="card">
                        <div class="card-body text-sm-center">
                            <img class="card-img-top" src=@item.PictureUrl width="200" height="170">
                            <h4 class="fw-bold card-title">@item.Name</h4>
                            <h6 class="card-title">@item.Author</h6>
                            <h6 class="card-title">@item.Genre.Name</h6>
                            <h6 class="text-danger card-title">@item.Price$</h6>
                            <p class="card-text">@item.Description</p>
                        </div>
                    </div>
                </div>
        }
    </div>
</div>
